/* * {
    margin : 0;
    padding: 0;
} */


.logo-img {
    display: block;
}

.logo-text {
    display: block;
    text-align: left;
    justify-content: center;
    margin-left: 5px;
}

header {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    gap: 2%;
}

nav ul:hover{
    background-color: #f1f1f1;
}