body {
    margin: 0%;
    font-family:'roboto', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: default;
}

.logo-img {
    display: block;
}

.logo-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo-text {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    gap: 0.2em;
}

.logo-text h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.3;
    color: #e0e0e0;
}

.logo-text p {
    font-size: 1.125rem;
    margin: 0;
    font-weight: 400;
    color: #e0e0e0;
    line-height: 1.3;
}

header {
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 43, 91);
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    gap: 40px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 400;
    display: inline-block;
    line-height: 1.3;
}

header nav a:hover{
    color: #e0e0e0;
    text-decoration: underline;
}

#news {
    background-color: #163767;
    position: relative;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;
    align-items: stretch;
}

#news img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 1;
    max-height: 100vh;
}

#buttonsL {
    grid-column: 1;
    grid-row: 1;
}

#buttonsR {
    grid-column: 3;
    grid-row: 1;
}

#buttonsL, #buttonsR {
    background-color: #1e4a8c;
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    top: 50%;
    display : flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#buttonsL button, #buttonsR button {
    background-color: #1e4a8c;
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#buttonsL button:hover, #buttonsR button:hover {
    background-color: #163767;
}



#news2 {
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    gap : 20px;
    padding : 20px;
}

#news2 div {
    width : 33%;
}

#news2 div:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
    background-color : #dfdfdf;
    border-radius: 5px;
}


#news2 a {
    background-color: #163767;
    color: white;
    border-radius: 5px;
    border : none;
    padding : 5px;
    text-decoration : none;
}

#news2 a:hover {
    background-color: #1e4a8c;
    cursor: pointer;
}

#link {
    background-color: #163767;
    display : flex;
    gap : 20px;
}

#fastlink {
    color: rgb(209, 209, 209);
    padding : 10px;
    width : 60%;
    display : flex;
    gap : 20px;
    border-right: 5px solid #1e4a8c;
}

#fastlink button {
    background-color: #1e4a8c;
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border : none;
    padding : 5px;
}

#fastlink button:hover {
    background-color: #163767;
    cursor: pointer;
}

#subscribe {
    padding : 10px;
    width : 40%;
    color: rgb(209, 209, 209);
}

#subscribe button {
    background-color: #1e4a8c;
    color: rgb(209, 209, 209);
    border-radius: 5px;
    border : none;
    padding : 5px;
}

#subscribe button:hover {
    background-color: #163767;
    cursor: pointer;
}

#subscribe input {
    padding : 5px;
    border-radius: 5px;
    border : none;
}